/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
/*@import './ple-theme.scss';*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header_container {
    z-index: 1;
}

.side_bar_container {
    z-index: 10;
}